<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<br>
<br>

<body>
    <div class="container">
        <!-- Add Jumbotron to Header -->
        <div class="jumbotron text-center"
            style="background-image: url('https://wallpapercave.com/wp/wp3969036.jpg'); background-position: center; background-size: cover   ;height: 200px;">
            <h1 class="container for-about" style="color:white">Mission to Mars</h1>
            <!-- Add a button to activate scraping script -->
            <p><a class="btn btn-danger btn-xs" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <!-- Mars News -->
        <style>
            body {
                background-color: #c86400;
            }
        </style>

        <div class="row" id="mars-news">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-body">
                        <h2 class="text-center">Last news from the red planet</h2>
                        <h3 class="text-center"> {{mars.news_title}} </h3>
                        <p class="text-center"> {{mars.news_p}} </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- NASA Image -->
        <div class="row" id="mars-driving-image">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Images from Mars</h2>
                <img style="margin: right 50px;"
                    src="https://mars.nasa.gov/layout/mars2020/images/PIA23764-RoverNamePlateonMars-web.jpg"
                    class="img-responsive" alt="Responsive image" />
            </div>

            <!-- Mars Characteristics Table -->
            <div class="table" id="mars-characteristics">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2 class="text-center">Mars Facts</h2>
                    <table  class="text-center" align="center" style="height:300px; background-color: 5262f1#">
                        <tr>
                            <td>
                                {{ mars.fact_table | safe }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Mars Hemispheres Images-->
    <div class="row" id="mars-images">
        <div class="page-header">
            <h2 class="text-center">Mars Hemispheres</h2>
        </div>
    </div>
    <!-- hemispheres -->
    <div class="row">
        {% for hemisphere in mars_images %}
            <div class="col-md-6">
                <div >
                    <img style="width:100%" src="{{hemisphere.img_url}}">
                    <h3> {{hemisphere.title}} </h3>
                </div>
            </div>
        {% endfor %}
    </div>    

</body>

</html>